<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="_content/dymaptic.GeoBlazor.RenderModes.Shared/favicon.ico" />
    <link rel="stylesheet" href="@Assets["dymaptic.GeoBlazor.RenderModes.Web.styles.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dymaptic.GeoBlazor.RenderModes.Shared/bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/dymaptic.GeoBlazor.RenderModes.Shared/app.css"]" />
    <link href="@Assets["_content/dymaptic.GeoBlazor.Core"]"/>
    <ImportMap />
    
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
